  <mat-toolbar color="warn">
    <button mat-icon-button class="options-menu" aria-label="options-menu-list-youtube">
      <mat-icon>menu</mat-icon>
    </button>
    <span>List-Youtube</span>
    <span class="spacer"></span>
    <button mat-icon-button class="home-icon" aria-label="home icon" routerLink="/search" routerLinkActive="activebutton">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="list-icon" aria-label="list-icon" routerLink="/lists" routerLinkActive="activebutton">
      <mat-icon>playlist_play</mat-icon>
    </button>
  </mat-toolbar>
